<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color bg-secondary">
  <a class="navbar-brand text-light" (click)="toggleSideNav()"><fa-icon [icon]="bar"></fa-icon></a>
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/browse']" routerLinkActive="router-link-active" >Browse</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Dropdown
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin Dashboard</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <!-- <img class="img-fluid" [src] = "avatar"> -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <img [src]="avatar" class="img-fluid" width="40px">  
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->