<div class="container">
    <h3 class="text-center">Do You Need Storage for personal or business use ? </h3>
    <div class="row justify-content-center mt-5">
      <div class="col-md-3" *ngFor="let opt of items,let i=index">
        <mat-card class="item card-body" (click)="setUsage(i)" [class]="getUsageClass(i)" matRipple>
          <div class="text-center">
            <img [src]="opt.img" class="img-fluid">
            <p class="mt-5">{{opt.name}}</p>
          </div>
          <div class="row justify-content-center" *ngIf="opt.count != undefined">
            <button (click)="addCount(i)">+</button>&nbsp;
            {{opt.count}}&nbsp;
            <button (click)="delCount(i)">-</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>